<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            border: 1px solid #101010;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #d9d4d4;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 20px;
        }

        p {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }


    </style>
</head>
<body>

<div class="header" th:fragment="header">
    <p><a class="header" href="/logout"><span sec:authorize="isAuthenticated()">Logout</span></a>
        <a class="header" href="/user"><span sec:authorize="isAuthenticated()">User page</span></a>
    <p></p>
</div>

<!-- добавление юзеров -->
<h2>Add User</h2>
<form th:object="${user}" th:action="@{/admin}" method="post" style="margin-top: 20px;">
    <div style="margin-bottom: 10px;">
        <label for="username" style="display: inline-block; width: 100px;">Username:</label>
        <input type="text" id="username" name="username" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="password" style="display: inline-block; width: 100px;">Password:</label>
        <input type="password" id="password" name="password" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="firstName" style="display: inline-block; width: 100px;">First Name:</label>
        <input type="text" id="firstName" name="firstName" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="lastName" style="display: inline-block; width: 100px;">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required style="margin-left: 10px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="email" style="display: inline-block; width: 100px;">Email:</label>
        <input type="email" id="email" name="email" required style="margin-left: 10px;">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="roles" style="display: inline-block; width: 100px;">Roles:</label>
        <select id="roles" name="roles" multiple="multiple" required style="margin-left: 10px;">
            <option value="ROLE_USER">User</option>
            <option value="ROLE_ADMIN">Admin</option>
        </select>
    </div>

    <button type="submit" style="margin-left: 100px;">Add User</button>
</form>


<!-- Таблица всех юзеров -->
<h2>User List</h2>


<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.roleName}"></span>
        </td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <!-- Форма для редактирования -->
            <form th:action="@{/admin/edit}" method="get">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Edit</button>
            </form>
            <!-- Форма для удаления-->
            <form th:action="@{/admin/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
