<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Management - Edit User</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 20px;
        }

        p {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="header" th:fragment="header">
    <p><a class="header" href="/logout"><span sec:authorize="isAuthenticated()">Logout</span></a>
    <a class="header" href="/admin"><span sec:authorize="isAuthenticated()">Back to admin page</span></a>
    <p></p>
</div>

<h2>Edit User</h2>
<form th:object="${user}" th:action="@{/admin/edit}" method="post" >
    <input type="hidden" name="id" th:value="${user.id}" />

    <div style="margin-bottom: 10px;">
        <label for="username" style="display: inline-block; width: 100px;">Username:</label>
        <input type="text" id="username" name="username" required style="margin-left: 10px;" th:value="${user.username}">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="password" style="display: inline-block; width: 100px;">Password:</label>
        <input type="password" id="password" name="password" required style="margin-left: 10px;" th:value="${user.password}">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="firstName" style="display: inline-block; width: 100px;">First Name:</label>
        <input type="text" id="firstName" name="firstName" required style="margin-left: 10px;" th:value="${user.firstName}">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="lastName" style="display: inline-block; width: 100px;">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required style="margin-left: 10px;" th:value="${user.lastName}">
    </div>
    <div style="margin-bottom: 10px;">
        <label for="email" style="display: inline-block; width: 100px;">Email:</label>
        <input type="email" id="email" name="email" required style="margin-left: 10px;" th:value="${user.email}">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="roles" style="display: inline-block; width: 100px;">Roles:</label>
        <select id="roles" name="roles" multiple="multiple" required style="margin-left: 10px;">
            <option value="ROLE_USER">User</option>
            <option value="ROLE_ADMIN">Admin</option>
        </select>
    </div>

    <button type="submit">Update User</button>
</form>

</body>
</html>